*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 51, 51);
}
.container{
    width: 450px;
    background: rgb(57, 189, 167);
    color: white;
    padding: 20px;
    margin: 30px auto 0;
    border-radius: 10px;
    text-align: center;
}
.search {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    border: 0;
    outline: 0;
    padding: 12px 22px;
    flex: 1;
    margin-right: 20px;
    border-radius: 30px;
    font-size: 18px;
    background-color: rgb(238, 240, 240);
    color: black;
}
.search button {
    border: 0;
    outline: 0;
    background-color: rgb(238, 240, 240);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.search button img {
    width: 16px;
} 
.weather .icon {
    margin-top: 20px;
    width: 160px;
}
.weather h1{
    font-size: 70px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 45px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 17px;
}


@media (max-width: 600px) {
    .search input {
        width: 200px;
        font-size: 14px;
    }

    .weather img.icon {
        width: 80px;
    }

    .celcius {
        font-size: 30px;
    }

    .city {
        font-size: 24px;
    }

    .detail {
        flex-direction: column;
        align-items: center;
    }

    .detail .col {
        margin-bottom: 10px;
    }

    .detail img {
        width: 30px;
    }

    .detail .humidityP, .detail .windS {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .search input {
        width: 220px;
        font-size: 16px;
    }

    .weather img.icon {
        width: 90px;
    }

    .celcius {
        font-size: 35px;
    }

    .city {
        font-size: 26px;
    }

    .detail {
        flex-direction: row;
        justify-content: space-around;
    }

    .detail .col {
        margin-bottom: 0;
    }

    .detail img {
        width: 35px;
    }

    .detail .humidityP, .detail .windS {
        font-size: 22px;
    }
}

@media (min-width: 900px) {
    .search input {
        width: 300px;
        font-size: 18px;
    }

    .weather img.icon {
        width: 120px;
    }

    .celcius {
        font-size: 50px;
    }

    .city {
        font-size: 35px;
    }

    .detail {
        flex-direction: row;
        justify-content: space-between;
    }

    .detail img {
        width: 40px;
    }

    .detail .humidityP, .detail .windS {
        font-size: 24px;
    }
}